{% extends 'dashboard.html.twig' %}

{% block title %}{% trans %}My Profile{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans %}My Profile{% endtrans %}</h4>
                    {{ form_start(form, {'attr': {'class': 'pt-3'}}) }}
                        <p class="card-description">{% trans %}Change Password{% endtrans %}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    {{ form_errors(form.currentPassword) }}
                                    <label class="col-sm-3 col-form-label">{{ form_label(form.currentPassword) }}</label>
                                    <div class="col-sm-9">
                                        {{ form_widget(form.currentPassword, {
                                            'attr': {
                                                'class': 'form-control form-control-lg'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    {{ form_errors(form.plainPassword.first) }}
                                    <label class="col-sm-3 col-form-label">{{ form_label(form.plainPassword.first) }}</label>
                                    <div class="col-sm-9">
                                        {{ form_widget(form.plainPassword.first, {
                                            'attr': {
                                                'class': 'form-control form-control-lg'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    {{ form_errors(form.plainPassword.second) }}
                                    <label class="col-sm-3 col-form-label">{{ form_label(form.plainPassword.second) }}</label>
                                    <div class="col-sm-9">
                                        {{ form_widget(form.plainPassword.second, {
                                            'attr': {
                                                'class': 'form-control form-control-lg'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary me-2">{% trans %}Update{% endtrans %}</button>
                                <a href="{{ path('app_profile_edit') }}" class="btn btn-light">{% trans %}Cancel{% endtrans %}</a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}