{% extends 'preuser.html.twig' %}

{% block title %}{{ 'preuser.login.title'|trans }}{% endblock %}

{% block content %}
    <h4>{{ 'preuser.login.hi'|trans }}</h4>
    <h6 class="fw-light">{{ 'preuser.login.tocontinue'|trans }}</h6>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" class="pt-3">
        <div class="form-group">
            <input type="email" class="form-control form-control-lg" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'preuser.login.form.email'|trans }}" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="password" name="_password" placeholder="{{ 'preuser.login.form.password'|trans }}" />
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">{{ 'preuser.login.submit'|trans }}</button>
        </div>
        <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" />
                    {{ 'preuser.login.remember'|trans }}
                </label>
            </div>
            <a href="{{ path('app_forgot_password_request') }}" class="auth-link text-black">{{ 'preuser.login.reset'|trans }}</a>
        </div>
        <div class="text-center mt-4 fw-light">{{ 'preuser.login.register.question'|trans }} <a href="{{ path('app_register') }}" class="text-primary">{{ 'preuser.login.register.create'|trans }}</a></div>
    </form>
{% endblock %}